<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(find navigation_stage)/stage_config/maps/willow-full.pgm 0.1" respawn="false" >
    <param name="frame_id" value="map" />
  </node>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find navigation_stage)/stage_config/worlds/willow-pr2-multi.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <!-- BEGIN ROBOT 0 -->
  <group ns="robot_0">
    <include file="$(find navigation_stage)/move_base_config/move_base.xml">
        <arg name="tf_prefix" value="robot_0/" />
    </include>

    <include file="$(find navigation_stage)/move_base_config/amcl_node.xml">
        <arg name="tf_prefix" value="robot_0/" />
        <arg name="initial_pose_x" value="47.0" />
        <arg name="initial_pose_y" value="21.0" />
        <arg name="initial_pose_a" value="-1.2" />
    </include>
  </group>
  <!-- END ROBOT 0 -->

  <!-- BEGIN ROBOT 1 -->
  <group ns="robot_1">
    <include file="$(find navigation_stage)/move_base_config/move_base.xml">
        <arg name="tf_prefix" value="robot_1/" />
    </include>

    <include file="$(find navigation_stage)/move_base_config/amcl_node.xml">
        <arg name="tf_prefix" value="robot_1/" />
        <arg name="initial_pose_x" value="48.0" />
        <arg name="initial_pose_y" value="21.0" />
        <arg name="initial_pose_a" value="-1.2" />
    </include>
  </group>
  <!-- END ROBOT 1 -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/multi_robot.rviz" />

</launch>
